body{
    font-family:Arial;
    background:#4CAF50;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:white;
    padding:30px;
    border-radius:10px;
    width:350px;
    text-align:center;
}

input{
    width:90%;
    padding:10px;
    margin:10px 0;
}

.options{
    text-align:left;
    margin:15px 0;
}

button{
    padding:10px 20px;
    margin:5px;
    cursor:pointer;
}
